# Environment normalization:
*.DS_Store
.idea
.rvmrc
.vscode

# Development database:
db/schema.rb
db/*.sqlite3

# Ignore all logfiles and tempfiles:
log/
tmp/

# Bundler state:
/.bundle
/vendor/bundle/

# Coverage report:
/coverage
